<div class="contenedor-fichas">
	<div class="ficha">
		<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
		<div class="ficha-info">
			<span>250</span>
			<p>Usuarios totales</p>
		</div>
	</div>
	<div class="ficha">
		<svg fill="#ffffff" viewBox="0 0 200 200" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M177.6,80.43a10,10,0,1,0-19.5,4.5,60.76,60.76,0,0,1-6,44.5c-16.5,28.5-53.5,38.5-82,22-28.5-16-38.5-53-22-81.5s53.5-38.5,82-22a9.86,9.86,0,1,0,10-17c-38.5-22.5-87-9.5-109.5,29a80.19,80.19,0,1,0,147,20.5Zm-109.5,11a10.12,10.12,0,0,0-11,17l40,25a10.08,10.08,0,0,0,5.5,1.5,10.44,10.44,0,0,0,8-4l52.5-67.5c3.5-4.5,2.5-10.5-2-14s-10.5-2.5-14,2l-47,60Z"></path></g></svg>
		<div class="ficha-info">
			<span>30</span>
			<p>Asistencias hoy</p>
		</div>
	</div>

	<div class="ficha" id="reloj-checador">
			<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <path class="st0" d="M452.76,0H59.241C39.228,0,22.849,16.386,22.849,36.4V429.91c0,20.014,16.379,36.392,36.392,36.392H452.76 c20.013,0,36.391-16.378,36.391-36.392V36.4C489.151,16.386,472.773,0,452.76,0z M256,411.711 c-98.612,0-178.559-79.94-178.559-178.56c0-98.612,79.947-178.56,178.559-178.56c98.613,0,178.56,79.948,178.56,178.56 C434.56,331.771,354.613,411.711,256,411.711z"></path> <polygon class="st0" points="73.424,512 114.922,512 125.447,481.667 62.899,481.667 "></polygon> <polygon class="st0" points="401.453,512 442.951,512 453.484,481.667 390.928,481.667 "></polygon> <rect x="250.703" y="83.842" class="st0" width="10.586" height="23.29"></rect> <rect x="250.703" y="359.177" class="st0" width="10.586" height="23.291"></rect> <rect x="390.486" y="227.862" class="st0" width="23.298" height="10.586"></rect> <rect x="98.209" y="227.862" class="st0" width="23.298" height="10.586"></rect> <polygon class="st0" points="375.617,169.048 391.964,159.613 387.666,152.182 371.326,161.618 "></polygon> <polygon class="st0" points="120.036,306.697 124.335,314.128 140.675,304.692 136.384,297.261 "></polygon> <polygon class="st0" points="320.111,113.542 327.534,117.826 336.969,101.485 329.538,97.194 "></polygon> <polygon class="st0" points="175.031,364.817 182.454,369.116 191.89,352.775 184.466,348.484 "></polygon> <polygon class="st0" points="191.89,113.542 182.454,97.194 175.031,101.485 184.46,117.826 "></polygon> <polygon class="st0" points="320.111,352.767 329.538,369.116 336.969,364.817 327.534,348.484 "></polygon> <polygon class="st0" points="120.036,159.613 136.384,169.041 140.675,161.618 124.335,152.182 "></polygon> <polygon class="st0" points="371.326,304.692 387.666,314.12 391.964,306.697 375.617,297.261 "></polygon> <path class="st0" d="M333.89,162.09c-2.858-3.063-7.24-3.788-10.235-1.715l-69.179,47.71l-97.766-83.812 c-0.93-0.785-2.431-0.656-3.475,0.32c-1.044,0.976-1.281,2.454-0.556,3.438l79.147,106.904c0.274,5.495,2.561,11.173,6.859,15.792 c8.818,9.465,22.658,10.891,30.92,3.193c1.319-1.227,2.408-2.599,3.285-4.093l61.976-77.409 C337.137,169.559,336.733,165.146,333.89,162.09z M218.64,206.53l-30.95-41.811c-0.564-0.754-0.358-1.897,0.435-2.652 c0.808-0.747,1.966-0.869,2.682-0.251l39.502,33.846L218.64,206.53z M247.457,242.564c-4.298-4.626-4.032-11.86,0.587-16.158 c4.618-4.298,11.844-4.039,16.142,0.58c4.298,4.618,4.039,11.843-0.579,16.141C258.988,247.426,251.763,247.182,247.457,242.564z"></path> </g> </g></svg>
			<div class="ficha-info reloj-checador">
				<span>Iniciar reloj checador</span>
			</div>
	</div>
	</div>
	<div class="tabla-contenedor">
	<h3>Asistencias de hoy</h3>
	<div class="tabla-informacion">
		
		<table class="contenido-tabla">
			<thead>
				<th>No.</th>
				<th>Nombre usuario</th>
				<th>Matricula</th>
				<th>Area</th>
				<th>Numero de telefono</th>
				<th>Estados</th>
				<th>Hora entrada</th>
				<th>Hora salida</th>
			</thead>
			<tbody id="contenido-asistencias">
				
			</tbody>
		</table>
	</div>
</div>

<dialog id="modal-reloj" class="reloj-modal">
	<div class="modal-seccion1">
		<h1>Reloj cheador</h1>
		<img id="cerrar-reloj" src="/img/close.svg" alt="cerrar">
	</div>
	<div class="contenido-reloj">
		<div class="logo">
			<img src="/img/logo.jpg" alt="">
		</div>
		<div class="menu">
			<h2>Bienvenido al sistema de asistencias</h2>
			<h3>Hora actual:   <span id="horaActual"> </span></h3>
			<h3>Día:   <span id="fechaActual"> </span> </h3>
			<p>Por favor, ingresa tu matricula:</p>
			<form class="formulario" id="formulario">
				<div class="parametro-contenedor">
					<input type="text" name="matricula" id="matricula" required>
				</div>
				<div class="botones">
					<button type="submit" id="entradaJornada" class="entrada">Entrada</button>
					<button type="submit" id="salidaJornada" class="salida">Salida</button>
				</div>
			</form>
		</div>
	</div>
</dialog>

<script src="/js/front/dashboard.js"></script>