<aside class="contenedor-imagen ">
	<img class="fade-image" src="/img/fondoLogin.jpg">
	<div class="gradient-overlay derecha"></div>
</aside>
<main class="registrar-contenedor ">
	<div class="registrar">
		<span>Asistencias</span>
		<h1>Iniciar Sesión</h1>
		
		<form class="formulario" >
			<div class="parametro-contenedor">
				<label for="">Email</label>
				<input type="text" placeholder="email" id="email" name="correo">
			</div>
			<div class="parametro-contenedor">
				<label for="">Contraseña</label>
				<input type="password" placeholder="contraseña" id="password" name="contraseña">
			</div>

			

			<div class="botones">
				<button id="login" class="crear">Iniciar Sesión</button>
			</div>
		</form>
	</div>
</main>

<script type="module" src="/js/back/login.js"></script>