<!--MODAL DE AGREGAR USUSARIO-->
<!-- Fondo oscuro manual -->
<dialog id="modal" class="modal">
	<div class="modal-seccion1">
		<h1 id="titulo-modal"> </h1>
		<img id="cerrar-modal" class="cerrar-modal" src="/img/close.svg" alt="">
	</div>
	<div id="alertas">

	</div>
	<div class="modal-formulario">
		<form id="usuario-formulario">
			<div class="formulario-1secc">
				<img src="/img/perfil.png" alt="profile">
				<div class="nombre">
					<div class="parametro-contenedor">
						<label for="name">Nombre(s):</label>
						<input name="nombre" id="name" type="text" placeholder="Geovanni">
					</div>
					<div class="apellidos">
						<div class="parametro-contenedor">
							<label for="apellidoPa">Apellido Paterno:</label>
							<input name="apellidoPaterno" id="apellidoPa" type="text" placeholder="Hernandez Andres">
						</div>
						<div class="parametro-contenedor">
							<label for="apellidoMa">Apellido Materno:</label>
							<input name="apellidoMaterno" id="apellidoMa" type="text" placeholder="Hernandez Andres">
						</div>
						<div class="parametro-contenedor">
							<label for="phone">Numero de telefono:</label>
							<input name="telefono" id="phone" type="tel"  maxlength="10" placeholder="2221234567">
						</div>
						<div class="parametro-contenedor">
							<label for="nacimiento">Fecha de nacimiento:</label>
							<input name="nacimiento" id="nacimiento" type="date">
						</div>
						<div class="parametro-contenedor">
							<label for="email">Correo:</label>
							<input name="email" id="email" type="email" placeholder="correo@correo.com">
						</div>
						<div class="parametro-contenedor">
							<label for="matricula">Matricula:</label>
							<input name="matricula" id="matricula" type="text" placeholder="GHEA-0504" readonly> 
						</div>
					</div>
					<div class="parametro-contenedor">
						<label for="area">Area:</label>
						<select name="area" id="area">
							<option selected>---Seleccione el area del empleado</option>
							
						</select>
					</div>
				</div>
			</div>
			<div class="botones">
				<button id="btnCrear" class="crear" type="submit"> Agregar </button>
				<button id="btnLimpiar" class="limpiar" type="reset"> Limpiar formulario</button>
			</div>
		</form>
	</div>
</dialog>

<div class="botones-contenedor">
	<button id="modalAgregar" class="boton-usuario">Agregar usuario</button>
	<button class="boton-usuario">Exportar</button>
	<button class="boton-usuario">Importar</button>
	<button id="activFiltro" class="boton-usuario"><span><></span> Filtrar</button>
</div>

<div class="botones-contenedor oculto" id="area-filtros" style="display: none;">

</div>

<div class="tabla-contenedor">
	<h3>Asistencias hoy</h3>
	<div class="search-box">
		<input type="text" placeholder="Buscar usuario">
		<button class="boton-usuario">
			<svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28.771 28.771" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M21.087,19.131l-0.244,0.246l-1.341-1.341c3.582-4.325,3.354-10.763-0.696-14.812c-4.296-4.296-11.288-4.296-15.584,0 c-4.296,4.297-4.296,11.288,0,15.583c0.255,0.254,0.519,0.492,0.79,0.718c0.165,0.136,0.339,0.256,0.511,0.381 c0.739,0.541,1.528,0.979,2.354,1.312c0.66,0.269,1.342,0.465,2.032,0.6c1.386,0.268,2.813,0.268,4.201,0 c0.691-0.133,1.37-0.331,2.033-0.6c0.929-0.373,1.812-0.881,2.632-1.518c0.087-0.066,0.176-0.125,0.261-0.195l0.403,0.402 l0.938,0.938l-0.245,0.244l7.682,7.682l1.959-1.959L21.087,19.131z M5.348,17.936c0.094-0.149,0.178-0.307,0.279-0.447 c0.421-0.578,0.932-1.083,1.508-1.504l1.325,1.504l2.156,2.447C8.739,19.854,6.883,19.192,5.348,17.936z M11.481,16.795l0.57-0.57 l-0.356-0.357l-0.52-0.521l-0.525,0.523l-0.354,0.354l0.571,0.57l-0.148,0.692l-0.289,1.325l-1.169-1.325l-1.62-1.841 c0.497-0.301,1.033-0.543,1.604-0.71c-0.079-0.08-0.157-0.161-0.232-0.246c-0.07-0.079-0.139-0.16-0.205-0.242 c-0.458-0.565-0.831-1.226-1.023-1.86c-0.246,0.058-0.822-0.276-0.936-0.76c-0.116-0.495-0.006-0.956,0.246-1.032 c0.075-0.021,0.153-0.004,0.229,0.04V10.33l0.495-0.037c1.843,0,3.45-0.771,4.332-1.92c0.639,0.833,1.658,1.468,2.879,1.753v0.708 c0.075-0.043,0.154-0.061,0.229-0.04c0.252,0.076,0.361,0.537,0.245,1.032c-0.112,0.48-0.685,0.812-0.931,0.762 c-0.19,0.623-0.576,1.284-1.044,1.854c-0.067,0.083-0.138,0.163-0.208,0.241c-0.076,0.085-0.154,0.167-0.235,0.247 c0.576,0.167,1.117,0.41,1.62,0.714l-1.573,1.841l-1.196,1.396l-0.303-1.396L11.481,16.795z M11.843,19.913l2.077-2.427 l1.288-1.506c0.576,0.421,1.091,0.929,1.511,1.506c0.062,0.083,0.106,0.176,0.164,0.261C15.426,19.02,13.657,19.746,11.843,19.913 z M17.336,17.338c-0.004,0.004-0.008,0.008-0.011,0.012c-0.076-0.112-0.138-0.233-0.22-0.342v-6.545 c0-5.024-2.658-6.929-5.931-6.929c-3.276,0-5.932,1.905-5.932,6.929v6.545c-0.126,0.166-0.228,0.351-0.34,0.524 c-0.07-0.065-0.146-0.126-0.215-0.194c-3.486-3.488-3.486-9.16,0-12.646c3.487-3.486,9.159-3.486,12.646,0 C20.822,8.179,20.822,13.852,17.336,17.338z"></path> </g> </g> </g></svg>
		</button>
	</div>
	<div class="tabla-informacion">
		<div class="tabla-descripcion">
			<p>Categoria</p>
			<span>Todos los empleados</span>
		</div>
		<table class="contenido-tabla">
			<thead>
				<th>No.</th>
				<th>Nombre usuario</th>
				<th>Matricula</th>
				<th>Numero de telefono</th>
				<th>Correo</th>
				<th>Area</th>
				<th>Acciones</th>
			</thead>
			<tbody id="show-data">
				
			</tbody>
		</table>
	</div>
</div>

<script src="/js/front/usuarios.js"></script>
<script type="module" src="/js/back/usuarios.js"></script>