<!--MODAL DE AGREGAR USUSARIO-->
<!-- Fondo oscuro manual -->
<dialog id="modal" class="modal">
	<div class="modal-seccion1">
		<h1 id="titulo-modal"> </h1>
		<img id="cerrar-modal" class="cerrar-modal" src="/img/close.svg" alt="">
	</div>
	<div id="alertas">

	</div>
	<div class="modal-formulario">
		<form id="usuario-formulario">
			<div class="formulario-1secc">
				<img src="/img/perfil.png" alt="profile">
				<div class="nombre">
					<div class="parametro-contenedor">
						<label for="name">Nombre(s):</label>
						<input name="nombre" id="name" type="text" placeholder="Geovanni">
					</div>
					<div class="apellidos">
						<div class="parametro-contenedor">
							<label for="apellidoPa">Apellido Paterno:</label>
							<input name="apellidoPaterno" id="apellidoPa" type="text" placeholder="Hernandez Andres">
						</div>
						<div class="parametro-contenedor">
							<label for="apellidoMa">Apellido Materno:</label>
							<input name="apellidoMaterno" id="apellidoMa" type="text" placeholder="Hernandez Andres">
						</div>
						<div class="parametro-contenedor">
							<label for="phone">Numero de telefono:</label>
							<input name="telefono" id="phone" type="tel"  maxlength="10" placeholder="2221234567">
						</div>
						<div class="parametro-contenedor">
							<label for="nacimiento">Fecha de nacimiento:</label>
							<input name="nacimiento" id="nacimiento" type="date">
						</div>
						<div class="parametro-contenedor">
							<label for="email">Correo:</label>
							<input name="email" id="email" type="email" placeholder="correo@correo.com">
						</div>
						<div class="parametro-contenedor">
							<label for="matricula">Matricula:</label>
							<input name="matricula" id="matricula" type="text" placeholder="GHEA-0504" readonly> 
						</div>
					</div>
					<div class="parametro-contenedor">
						<label for="area">Area:</label>
						<select name="area" id="area">
							<option selected>---Seleccione el area del empleado</option>
							
						</select>
					</div>
				</div>
			</div>
			<div class="botones">
				<button id="btnCrear" class="crear" type="submit"> Agregar </button>
				<button id="btnLimpiar" class="limpiar" type="reset"> Limpiar formulario</button>
			</div>
		</form>
	</div>
</dialog>

<div class="botones-contenedor">
	<button id="modalAgregar" class="boton-usuario">Agregar usuario</button>
	
	<button id="activFiltro" class="boton-usuario"><span><></span> Filtrar</button>
</div>

<div class="botones-contenedor oculto" id="area-filtros" style="display: none;">

</div>

<div class="tabla-contenedor">
	<h3>Trabajadores</h3>
	
	<div class="tabla-informacion">
		<div class="tabla-descripcion">
			<p>Categoria</p>
			<span>Todos los empleados</span>
		</div>
		<table class="contenido-tabla">
			<thead>
				<th>No.</th>
				<th>Nombre usuario</th>
				<th>Matricula</th>
				<th>Numero de telefono</th>
				<th>Correo</th>
				<th>Area</th>
				<th>Acciones</th>
			</thead>
			<tbody id="show-data">
				
			</tbody>
		</table>
	</div>
</div>

<script src="/js/front/usuarios.js"></script>
<script type="module" src="/js/back/usuarios.js"></script>